@{
    Layout = "_LayoutAdmin";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ECommerce.Areas.Products.Models.Products


<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="portlet light bordered card shadow mb-4">
                <div class="portlet-title card-header">
                    <div class="caption">
                        <span class="card-title h2 .text-uppercase">Product ADD/EDIT</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <h4 class="font-green-sharp">@TempData["ProductInsertMsg"]</h4>
                    <form class="form-horizontal" role="form" method="post" asp-area="Products" asp-controller="Products" asp-action="Save">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(x=>x.ProductId)
                        @Html.HiddenFor(x=>x.ImageUrl)
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Product Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Enter Product Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Description</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Description" placeholder="Enter Product Description" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Category Name</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.CategoryList,"CategoryId","CategoryName"))">
                                        <option value="">Select Category</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Manufacturer Name</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="ManufacturerId" asp-items="@(new SelectList(ViewBag.ManufacturerList,"ManufacturerId","ManufacturerName"))">
                                        <option value="">Select Manufacturer</option>
                                    </select>
                                    <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Price</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Price" placeholder="Enter Price" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Discount</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Discount" placeholder="Enter Discount" />
                                    <span asp-validation-for="Discount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Quantity</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Quantity" placeholder="Enter Quantity" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Image</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="file" asp-for="File" placeholder="Upload File"/>
                                    
                                </div>
                            </div>
                        <div class="form-actions">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-offset-3 col-md-9 justify-content-center align-items-center" style="display: flex;">
                                    <input type="submit" class="btn mb-2 btn-success" value="Save" style="margin-inline-end: 1rem;"></input>
                                    <a type="button" asp-area="Products" asp-controller="Products" asp-action="Admin" class="btn mb-2 btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
</div>