@{
    Layout = "_LayoutAdmin";
}
@using System.Data
@model DataTable

<div class="row align-items-center my-4">
  <div class="col">
    <h2 class="h3 mb-0 page-title">Contacts</h2>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary"><span class="fe fe-filter fe-12 mr-2"></span>Create</button>
  </div>
</div>

<div class="row">
    @foreach (DataRow dtUsers in Model.Rows)
    {
        <div class="col-md-3">
            <div class="card shadow mb-4">
                <div class="card-body text-center">
                <div class="avatar avatar-xl mt-4">
                    <a href="">
                    <img src=@dtUsers["ImageUrl"] alt="..." class="avatar-img rounded-circle">
                    </a>
                </div>
                <div class="card-text my-2">
                    <strong class="card-title my-0">@dtUsers["UserName"]</strong>
                    <p class="small text-muted mb-0">@dtUsers["Email"]</p>
                    <small class="small"><span class="badge badge-light text-muted">@dtUsers["CountryName"]</span></small>
                </div>
                </div> <!-- ./card-text -->
                <div class="card-footer">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <small><span class="dot dot-lg bg-success mr-1"></span> Online </small>
                    </div>
                    <div class="col-auto">
                    <div class="file-action">
                        <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu m-2">
                            <form method="post" asp-area="Users" asp-controller="Users" asp-action="">
                                <input type="hidden" name="UserId" value="@Convert.ToInt32(dtUsers["UserId"])">
                                <button class="dropdown-item" type="submit"><i class="fe fe-user fe-12 mr-4"></i>Profile</button>
                            </form>
                            <form method="post" asp-area="Cart" asp-controller="Cart" asp-action="Admin">
                                <input type="hidden" name="UserId" value="@Convert.ToInt32(dtUsers["UserId"])">
                                <button class="dropdown-item" type="submit"><i class="fe fe-shopping-cart fe-12 mr-4"></i>Cart</button>
                            </form>
                            <form method="post" asp-area="" asp-controller="" asp-action="">
                                <input type="hidden" name="UserId" value="@Convert.ToInt32(dtUsers["UserId"])">
                                <button class="dropdown-item" href="#"><i class="fe fe-shopping-bag fe-12 mr-4"></i>Orders</button>
                            </form>
                            <form method="post" asp-area="Users" asp-controller="Users" asp-action="Delete">
                                <input type="hidden" name="UserId" value="@Convert.ToInt32(dtUsers["UserId"])">
                                <a class="dropdown-item" href="#"><i class="fe fe-trash fe-12 mr-4"></i>Delete</a>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div> <!-- /.card-footer -->
            </div>
        </div>
    }
</div>